<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> BookStore</title>
    <!-- LInk To CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Box Icons -->
    <link rel="stylesheet"
          th:href="@{~/csshttps://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css}">
</head>
<body>
<!-- Navbar -->
<header>
    <a href="#" class="logo">The <span>Book </span><span>Store.</span></a>
    <div class="bx bx-menu" id="menu-icon"></div>

    <ul class="navbar">
        <li><a href="#home">Home</a></li>
        <li><a href="#shop">Shop</a></li>
        <li><a href="#new">New Arrival</a></li>
   <a th:href="@{~/user/viewAllMyOrders/}+${userdata.id}">Profile</a>
        <!--            <li><a href="demo.html" class="btn">Profile</a></li>-->
    </ul>
</header>
<!-- Home -->
<section class="home" id="home">
    <div class="home-text">
        <h1>We hope you find peace and <br> in every<span> pages of book.</span></h1>
        <p>We provide diffirent varieties of books! Readers can find the books they prefer and enjoy to buy it ;)</p>
        <a href="#shop" class="btn">Shop Now</a>
    </div>
</section>
<!-- Shop -->
<section class="shop" id="shop">
    <div class="heading">
        <h2>Shop Now</h2>
    </div>
    <!-- Content -->
    <div class="shop-container">
        <!-- Box 1 -->
        <div class="box" th:each="product:${add}">
            <a th:href="@{~/user/productinfo/}+${product.id}">
                <div class="box-img">
                    <img th:src="'data:image/png;base64,'+${product.imageBase64}" alt="">
                </div>
                <div class="title-price">
                    <h3 th:text="${product.productname}"></h3>
                    <div class="stars">
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                </div>
                <span th:text="${product.price}"></span>
            </a>
            <!--                <i class='bx bx-cart' >buy</i>-->
        </div>

    </div>
</section>
<!-- New Arrival -->
<section class="new" id="new">
    <div class="heading">
        <span>Recently Added</span>
        <h2>Newly Added</h2>
    </div>
    <!-- Content -->
    <div class="new-container">
        <!-- Box 1 -->
        <div class="box" th:each="product:${productfetch}">
            <a th:href="@{~/user/productinfo/}+${product.id}">

                <div class="box-img">
                    <img th:src="'data:image/png;base64,'+${product.imageBase64}" alt="">
                </div>
                <div class="title-price">
                    <h3 th:text="${product.productname}"></h3>
                    <div class="stars">
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                </div>
                <span th:text="${product.price}"></span>
                <i class='bx bx-cart' ></i>
            </a>
        </div>

    </div>
</section>
<!-- About -->
<section class="about" id="about">
    <div class="about-img">
        <img src="https://i.postimg.cc/vBjNh39Q/image2.png" alt="bookstore" />
    </div>
    <div class="about-text">
        <span>About Us</span>
        <h2>Books are like magic carpets that transport us to wondrous worlds; <br> They Books are like magic carpets that transport us to wondrous worlds <br> All from the comfort of our favorite reading spot! </h2>

        <p>The book store, a happy place for all the bookmaniacs who love to read in the vacinity of their own rooms,
            We often deliver your preferred books, or as we like to call, your "joy" to your door.</p>


        <p>"She found a paradise in a book, she found peace in every single page". </p>
        <a href="#shop" class="btn">Learn More.</a>
    </div>
</section>

<!-- Footer -->
<section class="footer" id="footer">
    <div class="footer-box">
        <h2>The <span>Book </span>Book <span>Store</span></h2>
        <p>Be happy for the experience, rather being sad for the end :)</p>
    </div>
    <div class="footer-box">
        <h3>Services</h3>
        <li><a href="#">Product</a></li>
        <li><a href="#">Help & Support</a></li>
    </div>
    <div class="footer-box">
        <h3>Product</h3>

        <li th:each="product:${productfetch}" ><a href="#" th:text="${product.productname}" ></a></li>

    </div>
    <div class="footer-box contact-info">
        <h3>Contact</h3>
        <span>Kathmandu,Nepal</span>
        <span>01 521 9516</span>
            <span>thebookstore@gmail.com</span>

    </div>
</section>
<!-- Link To JS -->
<script src="main.js"></script>
</body>
</html>